* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, button {
    font-size: 3vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#root {
    width: (100% / 1.5);

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        // border: 0.2em solid red;

        > * {
            padding: 1em;
        }

        .logo {
            // border: 0.2em solid blue;

            img {
                height: 10vh;
            }
        }

        .input-section {
            display: flex;
            // border: 0.2em solid blue;

            > * {
                margin: 0.5em;
            }
            
            input {
                width: (100% / 2);
                padding: 0.2em;
                text-align: center;
            }

            button {
                padding: 0 1em;
            }
        }
    }

    main {
        padding-top: 2em;
        // border: 0.2em solid orange;

        ul {
            display: flex;
            flex-direction: column;
            padding: 1em;
            background-color: rgba($color: lightgray, $alpha: 0.4);
            list-style: none;

            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0.5em;
                border-bottom: 0.01em solid gray;
                transition: background-color 0.2s;

                &:hover {
                    background-color: white;
                }

                &.done {
                    background-color: lightgreen;
                }

                &.priority {
                    background-color: lightyellow;
                }

                .desc {
                    display: flex;
                    cursor: default;

                    > * {
                        margin: 0.2em;
                    }

                    > *:not(p) {
                        cursor: pointer;
                    }

                    > input {
                        padding: 0.2em;
                    } 

                    .btnSaveTodo{
                        padding: 0 0.5em;
                    }

                    .changeStatus {
                        border: none;
                        font-size: 1em;
                        background-color: transparent;

                        .fa-check-square {
                            color: green;
                        }

                        .fa-window-close {
                            color: red;
                        }
                    }

                    .priority {
                        border: none;
                        font-size: 1em;
                        background-color: transparent;
                        color: orange;

                        &.not {
                            color: gray;   
                        }
                    }
                }

                .controls {
                    display: flex;

                    * {
                        cursor: pointer;
                        margin: 0.2em;
                    }
                }
            }
        }
    }
}