<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>ToBoo List</title>
</head>

<body>

    <div id="root">
        <header>
            <div class="logo">
                <img src="images/logo.png" alt="Boolean">
            </div>
            <div class="input-section">
                <input v-model="toDo" @keyup.enter="addToDo" type="text" placeholder="Scrivi qui...">
                <button @click="addToDo">Aggiungi</button>
            </div>
        </header>
        <main>
            <ul>
                <li :class="colorStatus(toDo)" :key="index" v-for="(toDo, index) in toDos">
                    <div class="desc">
                        <p v-if="!toDo.editMode || toDo.done">{{toDo.desc}}</p>
                        <input v-if="toDo.editMode && !toDo.done" v-model="toDo.desc" @keyup.enter="saveTodo(toDo)"
                            type="text" placeholder="Scrivi qui...">
                        <button class="changeStatus" v-if="toDo.editMode" @click="changeStatus(toDo)">
                            <i v-if="!toDo.done" class="fas fa-calendar-check"></i>
                            <i v-if="toDo.done" class="fas fa-calendar-times"></i>
                        </button>
                        <button v-if="toDo.editMode && !toDo.done" class="priority" :class="isPriority(toDo)"
                            @click="changePriority(toDo)">
                            <i class="fas fa-exclamation-triangle"></i>
                        </button>
                    </div>
                    <div class="controls">
                        <div class="edit" @click="editToDo(toDo)">
                            <i class="fas fa-edit"></i>
                        </div>
                        <div class="delete" @click="deleteToDo(index)">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                </li>
                <template v-if="toDos.length <= 0">
                    Non ci sono To Do!
                </template>
            </ul>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/root.js"></script>
</body>

</html>